<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <Platform>Any CPU</Platform>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>

    <SelfContained>true</SelfContained>
    <UseAppHost>true</UseAppHost>
    <PublishSingleFile>true</PublishSingleFile>

    <!-- Aucune extraction automatique du bundle dans %TEMP%\\.net. -->
    <IncludeNativeLibrariesForSelfExtract>false</IncludeNativeLibrariesForSelfExtract>
    <IncludeAllContentForSelfExtract>false</IncludeAllContentForSelfExtract>

    <EnableCompressionInSingleFile>true</EnableCompressionInSingleFile>

    <!-- WinForms/WebView2 : pas de trimming agressif. -->
    <PublishTrimmed>false</PublishTrimmed>
    <PublishReadyToRun>false</PublishReadyToRun>

    <DebugType>None</DebugType>
    <DebugSymbols>false</DebugSymbols>

    <PublishDir>bin/Publish/Portable/</PublishDir>
  </PropertyGroup>
</Project>
